In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
X=df.drop(['target'], axis=1)

In [4]:
y=df["target"]

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
max_age=max(df["age"])
max_trestbps=max(df["trestbps"])
max_chol=max(df["chol"])
max_thalach=max(df["thalach"])

In [7]:
#taking the values

In [8]:
#age in years
age=45
age=age/max_age

In [9]:
#sex (1: male; 0: female)
sex=1

In [10]:
#pain type (0: typical angina 1: atypical angina 2: non-anginal pain 3: asymptomatic)
cp=2

In [11]:
#resting blood pressure
trestbps=120
trestbps=trestbps/max_trestbps

In [12]:
#cholestoral in mg/dl
chol=145
chol=chol/max_chol

In [13]:
#blood sugar > 120 mg/dl (1: true; 0: false)
fbs=0

In [14]:
#electrocardiographic results (0: normal
#1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
#2: showing probable or definite left ventricular hypertrophy by Estes' criteria)
restecg=1

In [15]:
#maximum heart rate achieved
thalach=80
thalach=thalach/max_thalach

In [16]:
#exercise induced angina (1: yes; 0: no)
exang=0

In [17]:
#ST depression induced by exercise relative to rest
oldpeak=2

In [18]:
#the slope of the peak exercise ST segment (0: upsloping 1: flat 2: downsloping)
slope=1

In [19]:
#number of major vessels (0-3) colored by flourosopy
ca=2

In [20]:
#Thalassemia (0: normal; 1: fixed defect; 2: reversable defect)
thal=0

In [21]:
# load the model from disk
filename = 'finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [22]:
score=loaded_model.score(X,y)

In [23]:
res=loaded_model.predict([[age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal]])

In [24]:
print('Model score in percentage= ',100*score)
if (res==1):
    print('You have conditions for heart disease')
elif(res==0):
    print("You do not have conditions for heart disease")

Model score in percentage=  84.15841584158416
You do not have conditions for heart disease